html{
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body{
    background-color: darkslategrey;

}
.main-container{
    display: flex;
    margin: 0 auto;
    width: 1400px;
    height: 2000vh;
}
/*.left-side{*/
/*    background-color: #dcc;*/
/*    width: 300px;*/
/*    height: 600px;*/
/*    max-width: 400px;*/
/*    visibility: hidden;*/
/*}*/
.center-container{
    margin: 0 auto;
    background-color: rgba(213, 213, 213, 0.95);
    width: 950px;
    height: 100%;
    padding: 25px;
}
.title-line{
    width: 900px;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-items: center;
}
.title{
    margin: 20px auto;
}
.item-container{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: 300px;
    grid-gap: 25px;
}

.item{
    display: block;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}
#item-1{

}
#item-2{

    background-color: #b6b6b6;
}
#item-3{

    background-color: #b6b6b6;
}
.label-img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.desc{
    width: 100%;
    height: auto;
}